<!DOCTYPE html>
<html lang="en">
  <head>
    <title>hexasite</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!----------- CSS/Import ------------>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <!------------ main hexagon container ---------->
    <section class="hexagon-container">
      <!------------first hexagon line ------------->
      <section class="hexarea first">
        <aside class="hexagon"><img src="https://cdn.create.vista.com/api/media/small/471007720/stock-vector-black-cat-yellow-glowing-neon" alt="no"></aside>
        <aside class="hexagon"><img src="https://cdn.dribbble.com/users/6620596/screenshots/14792345/media/af61fa935b055891cb800a9e41ebb747.gif" alt=""></aside>
      </section>

      <!------------middle hexagon line ------------->
      <section class="hexarea middle">
        <aside class="hexagon"><img src="https://cdn.dribbble.com/users/6620596/screenshots/14792345/media/af61fa935b055891cb800a9e41ebb747.gif" alt=""></aside>
        <aside class="hexagon"><img src="https://media1.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy.gif" alt="so"></aside>
        <aside class="hexagon"><img src="https://cdn.create.vista.com/api/media/small/471043772/stock-vector-black-cat-green-yellow-modern" alt="no"></aside>
      </section>

      <!------------last hexagon line ------------->
      <section class="hexarea last">
        <aside class="hexagon"><img src="https://static.vecteezy.com/system/resources/previews/008/804/958/non_2x/cute-little-cat-with-big-eyes-sitting-on-green-background-vector.jpg" alt=""></aside>
        <aside class="hexagon"><img src="https://media.giphy.com/media/3oEjHFHaBKjH2lojSg/giphy.gif" alt="no"></aside>
      </section>
    </main>

    <!----------- Javascript ------------>
    <script src="main.js"></script>
  </body>
</html>
