<!DOCTYPE html>
<html lang="en">
  <head>
    <title>demo of grid</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!----------- CSS/Import ------------>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <section class="test-grid">
      <section class="grid-span">
        <h1>Test-grid</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
          perspiciatis accusantium, laudantium maxime molestiae eligendi, odio
          aperiam rem corrupti cupiditate ea eius aut? Animi similique
          temporibus repudiandae voluptas nulla error?
        </p>
      </section>
      <section>
        <h1>Test-grid</h1>
          inventore itaque reiciendis. Omnis nam officiis sed ullam aperiam
          perspiciatis molestias repellat totam!
        </p>
      </section>
      <section class="row-span">
        <h1>Test-grid</h1>
        <p>
          Facere quaerat accusamus vero voluptas odit deserunt sit voluptatum
          laborum doloribus non delectus quod fugit harum eos quis fugiat,
          commodi labore recusandae debitis ad nobis voluptate obcaecati
          mollitia? Voluptate, neque.
        </p>
      </section>
      <section class="grid-span">
        <h1>Test-grid</h1>
        <p>
          Eaque commodi quod asperiores facere. Neque, velit? Qui eveniet fugit
          deleniti? Expedita eum, soluta quisquam nam cum laboriosam tempore
          quam porro voluptates nemo nostrum deleniti ullam eaque facere sunt
          asperiores!
        </p>
      </section>
      <section class="last-grid">
        <h1>Test-grid last</h1>
        <p>
          Eveniet,, dolorem beatae fugiat molestias nulla eius excepturi
          asperiores labore ratione, earum voluptatibus reprehenderit eligendi
          autem dolore, hic atque? Aut, molestiae. Vel obcaecati ut eum error
          cum, nemo pariatur ipsam. Eveniet,, dolorem beatae fugiat molestias
          nulla eius excepturi asperiores labore ratione, earum voluptatibus
          reprehenderit eligendi autem dolore, hic atque? Aut, molestiae. Vel
          obcaecati ut eum error cum, nemo pariatur ipsam.
        </p>
      </section>
    </section>
    <!----------- Javascript ------------>
    <script src="main.js"></script>
  </body>
</html>
